.header_outer_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
    background-color: rgba(20, 20, 20, 0.9);
  height: 10vh;
  color: white;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
  /* background-color: red; */
}
.nav_black {
  background-color: rgb(20, 20, 20);
}
.header_container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
}
.header_left ul {
  width: 140%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  /* background-color: lightblue; */
}

.header_right ul {
  width: 140%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .header_container ul li:not(:first-child) {
    display: none;
  }
}

@media screen and (min-width: 577px) {
  .header_right ul li:first-child {
    display: none;
  }
}
